doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/stylesheets/styles.css")
  
  body

    .header
      .logo Books' Secret

    form#loginForm
      h2 Login
      input#loginUsername(type="text", name="loginUsername", placeholder="Username", required)
      input#loginPassword(type="password", name="loginPassword", placeholder="Password", required)
      input(type="submit", value="Login")

    script(src="javascripts/login.js")
