doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Purchases
    link(rel="stylesheet", href="/stylesheets/styles.css")

  body

    .header
      .logo Books' Secret
      .auth-buttons        
        button#indexButton Home
        button#logoutButton Logout

    h1 My Purchases

    .userContainer
        #purchasesList
        
script(src="javascripts/userPurchases.js")